# Compiled programs
*.exe
*.out
ttdb

# Object files and libraries
*.o
*.obj
*.so
*.dll
*.a
*.lib

# Debug files
*.pdb
*.ilk
*.dwo

# Editor and temp files
.vscode/
.vs/
*.tmp
*.log
*.bak
*.swp

# Build folders
build/